/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */




.section-1 {
    border: solid 1px rgba(155, 155, 155, .5);
    display:flex;
    flex-direction: row;
    height: 200px;
    margin: 0 auto;
    align-items: stretch;
    justify-content: center;

}

.section-1 > .flex-item:nth-child(odd){
    flex-grow: 2;
    align-items: center;

}

.section-1 > .flex-item:nth-child(even){
    flex-grow: 1;
    align-items: center;
    text-align: center;

}


/* Add styles for section-2 */

/* Add styles for section-3 */

/* Add styles for section-4 */

/* Add styles for section-5 */

/* Add styles for section-6 */

/* Add styles for section-7 */

/* Add styles for section-8 */
