/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */




.section-1 {
    display:flex;
    flex-direction: row;
    height: 200px;
    margin: 0 auto;
    align-items: stretch;
    justify-content: center;

}

.section-1 > .flex-item:nth-child(odd){
    flex-grow: 2;
}

.section-1 > .flex-item:nth-child(even){
    flex-grow: 1;
}

.section-1 > .flex-item{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*NÆ EKKI AÐ MIÐJUSETJA TEXTAN !!!!!!*/


/* Add styles for section-2 */
.section-2 {
    display: flex;
    flex-direction: column-reverse;
    
}
.section-2 > .flex-item:nth-child(1){
    align-self: flex-start;
    flex-grow: 1;
    width: 50%;
}
.section-2 > .flex-item:nth-child(5){
    align-self: flex-end;
    flex-grow: 1;
    width: 50%;
}

/* Add styles for section-3 */

.section-3 {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
 
}

.section-3 > .flex-item:nth-child(1){
    flex-grow: 1;
    flex-basis: 100%
}

.section-3 > .flex-item:nth-child(6){
    flex-grow: 1;
    flex-basis: 100%;
}

.section-3 > .flex-item{
    flex-basis: 50%;
}


/* Add styles for section-4 */
.section-4 {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;

}

.section-4 > .flex-item{
    height: 60px;
    width: 100px;
 
    
}

/* Add styles for section-5 */
.section-5 {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.section-5 > .green:nth-child(1){
    order: 1;

}

.section-5 > .space-invader{
    align-self: center;
}


/* Add styles for section-6 */

.section-6 {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}



/* Add styles for section-7 */

.section-7 {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: center;
    align-content: space-between;

}

.section-7 > .carebear-pink {

    align-self: flex-start;
    order: 5;
}

.section-7 > .carebear-red, .carebear-green, .carebear-blue, .carebear-yellow {
    flex-basis: 25%;
}
.section-7 > .carebear-green {
    order: 2;
}
.section-7 > .carebear-blue {
    order: 3;
}
.section-7 > .carebear-yellow {
    order: 4;
}

/* Add styles for section-8 */
.section-8 {
    display:flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    align-items: stretch;
    flex-wrap: wrap;
}

.section-8 > .flex-item:nth-child(1){
    flex-basis: 100%
}


.section-8 > .flex-item{
    flex-basis: 20%;
}


